body {
  font-style: normal;
  font-size: 14px;
  color: $primary-text-color;
  font-family: $base-font-family;
  background: $btn-txt-color;
}

.btn {
  color: $btn-txt-color;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  cursor: pointer;

  min-width: 200px;
  min-height: 50px;
  border: 1px transparent;
  border-radius: 4px;
  box-shadow: $btn-shadow;

  transition: color $transition-timing $timing-function,
    border $transition-timing $timing-function,
    background-color $transition-timing $timing-function;

  :hover,
  :focus {
    border: 0;
    color: $accent-color;
    background-color: $btn-txt-color;
  }
}
