:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --btn-txt-color: #ffffff;
  --bg-color: #f5f4fa;
  --logo-color: #000000;
  --bg-footer: #2f303a;
  --svg-icon-color: #afb1b8;
  --transition-timing: 250ms;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0px;
}

body {
  font-style: normal;
  font-size: 14px;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  background: var(--btn-txt-color);
}

.container {
  width: 1200px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.invisible-title {
  display: none;
}

.btn {
  padding: 0;
  border: 0;
}

.item .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.16;
  text-transform: uppercase;
}

/* Хедер */

.main-nav {
  display: flex;
  align-items: center;
}

/* Логотип */

.logo {
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo .logo-first {
  color: var(--logo-color);
}

.logo .logo-second {
  color: var(--btn-txt-color);
}

/* Навигация */

.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav .link {
  display: block;
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 34px;
  padding-bottom: 32px;

  transition: color var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  position: relative;
  color: var(--accent-color);
}

.site-nav .current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
  padding-top: 34px;
  padding-bottom: 30px;
}

.auth-nav .item a:not(:last-child) {
  margin-right: 30px;
}

.auth-nav .link {
  display: flex;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.link-svg {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

/* Герой */

.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../img/Header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-color: var(--primary-text-color);
}

.hero .text {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: var(--btn-txt-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.btn {
  color: var(--btn-txt-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;

  min-width: 200px;
  min-height: 50px;
  border: 1px transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: color var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1),
    border var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1),
    background-color var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  border: 0;
  color: var(--accent-color);
  background-color: var(--btn-txt-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 450px;
  max-height: 609px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal-title {
  display: block;
  text-align: center;
  margin-bottom: 30px;

  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form {
  position: relative;
}

.form-field {
  position: relative;
  margin-bottom: 28px;
}

.form-btn {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -32px;
  left: calc(100% + 32px);
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--btn-txt-color);

  transform: translateX(-100%);
}

.close {
  display: block;
  margin: auto;
  width: 18px;
  height: 18px;
  fill: var(--logo-color);

  transition: fill var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:focus,
.form-btn:hover .close {
  fill: var(--accent-color);
}

.form-comment {
  position: relative;
  margin-bottom: 20px;
}

.comment {
  width: 100%;
  min-height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
}

.form-label-comment {
  position: absolute;
  top: 12px;
  left: 16px;

  transition: transform var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1),
    color var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus + .form-label-comment,
.comment:not(:placeholder-shown) + .form-label-comment {
  transform: translateY(-34px);
  color: var(--accent-color);
}

.form-label {
  position: absolute;
  left: 42px;
  top: 50%;

  transform: translateY(-50%);
  transition: transform var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin: 0;
  padding-left: 46px;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateX(-26px) translateY(-40px);
  color: var(--accent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;

  display: inline-block;
  width: 18px;
  height: 18px;

  transform: translateY(-50%);
  transition: fill var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-icon,
.form-input:not(:placeholder-shown) ~ .form-icon {
  fill: var(--accent-color);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 15px;
  margin-right: 10px;

  border: 2px solid var(--title-text-color);
  border-radius: 4px;
  flex-shrink: 0;
}

.checkbox-label {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
}

.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.contract {
  color: var(--accent-color);
}

.submit-btn {
  color: var(--btn-txt-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;

  min-width: 200px;
  min-height: 50px;
  border: 1px transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-timing)
    cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover,
.submit-btn:focus {
  background-color: #188ce8;
}

/* Преимущества */

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advant {
  display: flex;
  align-items: center;
}

.advant > .item {
  width: calc((100% - 30px * 3) / 4);
}

.list > .item:not(:last-child) {
  margin-right: 30px;
}

.advantages .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.item .item-image {
  background: var(--bg-color);
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.item-image-icon {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  width: 70px;
  height: 70px;
}

.item .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.section-works {
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.container .work {
  display: flex;
  align-items: center;
}

.work > .item {
  position: relative;
  display: flex;
  width: calc((100% - 30px * 2) / 3);
  height: 294px;
}

.work > .item:nth-child(1) {
  background-image: url(../img/img1.jpg);
}

.work > .item:nth-child(2) {
  background-image: url(../img/img2.jpg);
}

.work > .item:nth-child(3) {
  background-image: url(../img/img3.jpg);
}

.work .item .title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 27px 82px;
  color: var(--btn-txt-color);
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}

/* Команда */

.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-bg {
  background: var(--bg-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team {
  display: flex;
}

.team > .item {
  width: calc((100% - 30px * 3) / 4);
  background: var(--btn-txt-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.team .item > img {
  margin-bottom: 30px;
}

.list .team-name {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.list .job {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social-networks {
  display: flex;
  justify-content: space-evenly;
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 24px;
}

.icon-meil {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--svg-icon-color);
  background-color: var(--btn-txt-color);

  transition: color var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1),
    background var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-meil:hover,
.icon-meil:focus {
  color: var(--btn-txt-color);
  background: var(--accent-color);
}

.team-svg-icon {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-networks .icon:not(:last-child) {
  margin-right: 10px;
}

/* Постоянные клиенты */

.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  justify-content: space-between;
}

.clients-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 170px;
  color: #afb1b8;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1),
    border var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-icon {
  fill: currentColor;
}

.clients-item a:hover,
.clients-item a:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Футер */

/* Адресс */

.main-footer {
  background: var(--bg-footer);
  margin-left: auto;
  margin-right: auto;
}

.footer-part {
  display: flex;
  align-items: baseline;
  padding-top: 45px;
  padding-bottom: 28px;
}

.address-part > .logo {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 8px;
}

.auth .city {
  display: inline-block;
  color: var(--btn-txt-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
}

.auth .links {
  display: inline-block;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  transition: color var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.auth .meil {
  margin-bottom: 9px;
}

.auth .links:hover,
.auth .links:focus {
  color: var(--accent-color);
}

/* Cоциальные сети */

.footer-part .txt {
  display: block;
  margin-bottom: 20px;
  color: var(--btn-txt-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-part .sign {
  color: var(--btn-txt-color);
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.social {
  margin-left: 69px;
}

.footer-social-networks {
  display: flex;
  justify-content: space-evenly;
}

.footer-social-networks li:not(:last-child) {
  margin-right: 10px;
}

.social-networks-button {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--transition-timing)
    cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks-button:hover,
.social-networks-button:focus {
  background-color: var(--accent-color);
}

.button-icon {
  fill: var(--btn-txt-color);
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
}

.mailing {
  display: block;
  margin-left: auto;
}

.mailing-flex {
  display: flex;
}

.footer-form-input {
  min-width: 358px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-right: 12px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  color: var(--btn-txt-color);
}

.mailing-btn-svg {
  display: inline-block;
  vertical-align: text-bottom;
  margin-left: 10px;
  fill: currentColor;
}

/* Копирайт */

footer > .copy {
  color: rgba(255, 255, 255, 0.4);
  background: var(--bg-footer);
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* Портфолио-проекты */

.section-projects {
  padding-top: 93px;
  padding-bottom: 94px;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid #ececec;
}

.container-project {
  width: 1200px;
  margin-top: 0px;
  margin-bottom: 34px;
  margin-left: auto;
  margin-right: auto;
}

.project {
  display: flex;
  justify-content: center;
}

.project .project-item:not(:last-child) {
  margin-right: 8px;
}

.button {
  height: 38px;
  border-radius: 4px;
  border-width: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.62;
  font-weight: 500;
  padding: 6px 22px;
}

.project .button {
  color: var(--title-text-color);
  background: var(--bg-color);

  transition: color var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1),
    background var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.project .button:hover,
.project .button:focus {
  color: var(--btn-txt-color);
  background: var(--accent-color);
  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.portfolio {
  padding-top: 0;
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.works .works-items {
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}

.works-items:hover,
.works-items:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.works .works-items:nth-child(3n) {
  margin-right: 0;
}

.works .works-items:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works-items .works-link {
  display: inline-block;
  text-decoration: none;
}

.works-link-img {
  width: 100%;
}

.work-info {
  padding: 20px 24px;
}

.works .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.work-info > .sub {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.works-link-activ {
  position: relative;
  overflow: hidden;
}

.works-link-activ > .txt {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  height: 294px;
  color: var(--btn-txt-color);
  background: var(--accent-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  opacity: 0;
  transform: translateY(100%);

  transition: transform var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1),
    opacity var(--transition-timing) cubic-bezier(0.4, 0, 0.2, 1);
}

.works-items:hover .txt,
.works-items:focus .txt {
  opacity: 1;
  transform: translateY(0);
}
