.section-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients {
  display: flex;
  justify-content: space-between;
}

.clients-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 170px;
  color: $svg-icon-color;
  background-color: $btn-txt-color;
  border: 1px solid $svg-icon-color;
  border-radius: 4px;

  transition: color $transition-timing $timing-function,
    border $transition-timing $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.clients-item-icon {
  fill: currentColor;
}
