.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-bg {
  background: $bg-color;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team {
  display: flex;

  & > .item {
    width: calc((100% - 30px * 3) / 4);
    background: $btn-txt-color;
    box-shadow: $modal-shadow;
    border-radius: 0px 0px 4px 4px;
  }

  & .item > img {
    margin-bottom: 30px;
  }
}

.list .team-name {
  margin-bottom: 10px;
  color: title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.list .job {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.social-networks {
  display: flex;
  justify-content: space-evenly;
  margin-left: 32px;
  margin-right: 32px;
  padding-bottom: 24px;
}

.icon-meil {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $svg-icon-color;
  background-color: $btn-txt-color;

  transition: color $transition-timing $timing-function,
    background $transition-timing $timing-function;

  &:hover,
  &:focus {
    color: $btn-txt-color;
    background: $accent-color;
  }
}

.team-svg-icon {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-networks .icon:not(:last-child) {
  margin-right: 10px;
}
